<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>customshipping</name>
    <displayName><![CDATA[Custom Shipping Cost per Country]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Menambahkan biaya pengiriman berdasarkan negara tanpa metode pengiriman.]]></description>
    <author><![CDATA[Febri Ahmad]]></author>
    <tab><![CDATA[]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
</module>